<div class="container mt-4">
  <h1>New Quan Ly</h1>

  <%= render 'form', quan_ly: @quan_ly %>

  <div class="mt-3">
    <%= link_to 'Back', quan_lys_path, class: 'btn btn-secondary' %>
  </div>
</div>
